<header class="{{ height }} bg-red-500 flex items-center bg-center bg-cover"
    style="background-image: linear-gradient(to bottom right, rgba(241,96,97,.4), rgba(171,59,59,.4)), url({{ header }})">
    <div class="container mx-auto">
        <h1 class="text-center md:text-left tekton text-5xl text-white font-bold">{{ title }}</h1>
    </div>
</header>
<main class="py-8 lg:py-24">
    <div class="mx-auto max-w-xl px-4 sm:px-6 lg:px-8">
        {{ bard }}
        {{ partial src="bard/{type}" }}
        {{ /bard }}
    </div>
</main>