<!doctype html>
<html lang="{{ site_short_locale }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{{ title }} - Card Party</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#f16061">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#f16061">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" href="https://use.typekit.net/tzh4hkx.css">
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
</head>

<body>
    {{ partial:partials/nav }}

    {{ template_content }}

    {{ partial:partials/footer }}

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/3.js" site="YFEZDVQK"></script>
    <!-- / Fathom -->
</body>

</html>