<div class="relative bg-white overflow-hidden angled-hero">
    <div class="max-w-screen-xl mx-auto ">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="50,0 100,0 50,100 0,100" />
            </svg>

            <div class="relative pt-6 px-4 sm:px-6 lg:px-8"></div>

            <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    {{ bard }}
                    {{ partial src="bard/{type}" }}
                    {{ /bard }}
                </div>
            </div>
        </div>
    </div>
    <div class="h-64 lg:h-full lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-green-400">
        <div class="w-full grid grid-cols-3 lg:grid-cols-6 gap-2 card-rotate">
            {{ cards }}
        </div>
        <div class="w-full lg:h-full absolute inset-0 card-shadow">
        </div>
    </div>
</div>