@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.card-rotate {
    transform: rotate(9deg) translateY(-100px) translateX(-350px);
    
    @screen lg {
        transform: rotate(9deg) translateY(-100px) translateX(-100px);
    }
}

.card-shadow {
    background: linear-gradient(to bottom, rgba(61,64,91,1), rgba(255,255,255,0));

    @screen lg {
        background: linear-gradient(99deg, rgba(61,64,91,1) 0%, rgba(255,255,255,0) 25%)
    }
}